:root {

  /* Spacing: Primitives */
  --space-3xl: 120px;
  --space-2xl: 80px;
  --space-xl: 60px;
  --space-lg: 40px;
  --space-md: 30px;
  --space-sm: 20px;
  --space-xs: 15px;
  --space-2xs: 10px;
  --space-3xs: 5px;

  /* Spacing: Radius */
  --radius-sm: 5px;
  --radius-rounded: 100vw;

  /* Spacing: Layout */
  --page-margin: var(--space-xs);
}

