---
import { getCollection } from 'astro:content'

const countries = await getCollection('countries')
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1><a href="/">The Phenomenon</a></h1>
		{countries?.map((country) => (
			<div>
				<a href={`/${country.data.id}`}>{country.data.canonical_name}</a>
				<span>{country.data.record_count}</span>
			</div>
		))}
	</body>
</html>
