---
import LocationChip from "./LocationChip.astro"

const { locations, title } = Astro.props
console.log(locations)
---
{ locations && <div class="location-list">
  {title && <h3>{title}</h3>}
  <div class="locations">
    {locations.map((chip) => (
      <LocationChip 
        title={chip.title}
        url={chip.url}
        count={chip.count}
      />
    ))}
  </div>
</div>}

<style>

  .location-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    /* gap: var(--space-3xs); */
  }

  .locations {
    display: flex;
    flex-direction: column;
    gap: var(--space-3xs);
  }
</style>