---
import HeaderNew from "./Header.astro";

const { activePath } = Astro.props
---
<div class="sidebar">
  <HeaderNew 
    activePath={activePath}
  />
  <div class="content">
    <slot />
  </div>
</div>

<style>
  .sidebar {
    /* background-color: var(--background-blur-color); */
    /* backdrop-filter: var(--background-blur); */
    /* border-radius: var(--radius-sm); */
    margin: var(--page-margin);
    z-index: 1;
    /* min-width: 20rem; */
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    gap: var(--space-2xs);
    min-width: 0;
    flex: 0 0 min(calc(100% - var(--page-margin) * 2), 20rem);

    .content {
      flex: 0 1 100%;
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      min-height: 0;
      padding: var(--space-xs) var(--space-sm);
      border-radius: var(--radius-sm);
      background-color: var(--background-blur-color);
      backdrop-filter: var(--background-blur);
      /* overflow-y: auto; */
      /* background-color: red; */
    }
  }
</style>