---
import ReportList from "../components/ReportList.astro";
import LayoutMaster from "./layoutMaster.astro";

interface Props {
  title: string;
  reports?: ReportCard[] | null;
}

const { title, reports } = Astro.props
// console.log(reports)
---
<LayoutMaster
  title={title}
>
  <div class="content">
    <aside>
      <slot />
    </aside>
    <main>
      <ReportList 
        reports={reports}
      />
      <!-- <slot /> -->
    </main>
  </div>
</LayoutMaster>

<style>

  .content {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    flex: 0 1 100%;
    min-height: 0;
  }

  main {
    /* background-color: var(--color-background-secondary); */
    flex: 0 1 100%;
    padding-inline: var(--page-margin);
    padding-block: 0 var(--page-margin);
  }

  aside {
    flex: 0 0 max(20%, 14rem);
    overflow-y: auto;
    padding-inline: var(--page-margin);
    padding-block: 0 var(--page-margin);
    position: relative;

    /* &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 10vh;
      background-color: red;
      z-index: 9;
    } */
  }


</style>